
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@400;700&display=swap');



.mulish-medium {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:500 ;
  font-style: normal;
}

.mulish-regular {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:400 ;
  font-style: normal;
}
.mulish-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:700 ;
  font-style: normal;
}
.mulish-black {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:900 ;
  font-style: normal;
}
.mulish-light {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:300 ;
  font-style: normal;
}
.mulish-thin{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:100 ;
  font-style: normal;
}
.mulish-medium {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:500 ;
  font-style: normal;
}
.mulish-medium {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:500 ;
  font-style: normal;
}
.mulish-medium {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight:500 ;
  font-style: normal;
}


















 .navbar{
    background-color:rgb(25, 35, 45);
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: white;
  
  
    
}

  

.icon{
  font-size: 20px;
  margin-right: 9px;
  margin-bottom: 6px;
  transition: transform 0.3s ease;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: all 0.3s ease;
  background-color:rgb(220, 187, 135) ;
  color: black;
}
button:hover {
  border-color: rgb(220, 187, 135);
            background-color:transparent;
            color:rgb(220, 187, 135);
}


button:hover .icon{
  transform: rotate(45deg);
}